@model IEnumerable<PharmacyStore.ViewModel.ProductStockViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-center">Welcome</h1>
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="alert-heading">Items Currently Out of Stock!</h5>

                <ul>
                    @foreach (var item in Model)
                    {
                        <li>@Html.DisplayFor(modelItem => item.ProductName)</li>
                    }
                </ul>
                <hr />
                <a href="Report/OutOfStockItemsReport" class="alert-link">View More Details...</a>
            </div>
        </div>
    </div>
    <div class="my-4">
        <div class="row m-0 justify-content-around">
            <a href="/Categories">
                <div class="card p-0">
                    <div class="model-wraper">
                        <div class="card-common">
                            <h3 class="card-common-text">Categories</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/Customers">
                <div class="card p-0">
                    <div class="model-wraper">
                        <div class="card-common">
                            <h3 class="card-common-text">Customers</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/Report/ListStockReport">
                <div class="card p-0">
                    <div class="model-wraper">
                        <div class="card-common">
                            <h3 class="card-common-text">Customer Purchase Details*</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/Report/ListStockReport">
                <div class="card p-0">
                    <div class="model-wraper">
                        <div class="card-common">
                            <h3 class="card-common-text">Inactive Customers*</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="row m-0 justify-content-around" style="margin-top: 20px !important;">
            <a href="/PurchaseDetails">
                <div class="card p-0">
                    <div class="model-wraper">
                        <div class="card-common">
                            <h3 class="card-common-text">Purchase Details</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/SalesDetails">
                <div class="card p-0">
                    <div class="model-wraper">
                        <div class="card-common">
                            <h3 class="card-common-text">Sales Details</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/Report/ListStockReport">
                <div class="card p-0">
                    <div class="model-wraper">
                        <div class="card-common">
                            <h3 class="card-common-text">Stock Details*</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/Report/ListStockReport">
                <div class="card p-0">
                    <div class="model-wraper">
                        <div class="card-common">
                            <h3 class="card-common-text">Out of Stock*</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="row m-0 justify-content-center" style="margin-top: 20px !important;">
            <a href="/Report/ListStockReport" style="margin-right: 10px;">
                <div class="card p-0">
                    <div class="model-wraper">
                        <div class="card-common">
                            <h3 class="card-common-text">Remove Product*</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/Report/ListStockReport" style="margin-left: 10px;">
                <div class="card p-0">
                    <div class="model-wraper">
                        <div class="card-common">
                            <h3 class="card-common-text">Inactive Product*</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
